# Mac OS固有のファイル
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Python関連の不要ファイル
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints



# エディタ固有のファイル
.idea/
.vscode/
*.swp
*.swo
*~

# ログファイル
*.log

# キャッシュファイル
.cache/